<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UAS_CRUD.Properties.Settings.tokohpConnectionString"
            connectionString="Data Source=IHSAN\MUHAMMADIHSAN;Initial Catalog=tokohp;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="UAS_CRUD.Properties.Settings.tokohp2ConnectionString"
            connectionString="Data Source=IHSAN\MUHAMMADIHSAN;Initial Catalog=tokohp2;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>